<% provide(:plan, "Silver") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel=stylesheet href="css/normalize.css">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

</head>

<body>
        <header>
          <h1>Account</h1></a>
         </header>
  <div class="row">
    <div class="col-md-4">
       <div class="page-header">
      <h3>Your Account:</h3>
      </div>
       You're currently on the <%= yield(:plan) %> Plan
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <%= link_to "Change Plan!", billing_path, class: "btn btn-lg btn-primary" %>
        </div>
    </div>
      
    </div>
  </div>
</section>

  </body>

  </html>