<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel=stylesheet href="css/normalize.css">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

</head>

<body>
        <header>
          <a href="index.html" id="logo"><h1>Become a Member</h1></a>
       
      </header>
    
<section class="container">
  <div class="row">
    <div class="col-md-3">
      <form>

        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" id="inputname">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="inputemail">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" class="form-control" id="inputpwd">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Confirm Password</label>
          <input type="password" class="form-control" id="inputpwdconfirm">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Credit Card Number</label>
          <input type="text" class="form-control" id="inputcc">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">CVV</label>
          <input type="number" class="form-control" id="inputcvv">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Expiry Date</label>
          <input type="date" class="form-control" id="inputdate">
        </div>
      </form>
      <button type="submit" value="Submit">Submit</button>
    </div>
  </div>
</section>

  </body>

  </html>