<div id="cardinfo" class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-3 control-label">Card Details</label>
        </div>
    
         <div class="form-group">
          <label for="ccnumber">Credit Card Number</label>
          <input type="text" class="form-control" id="inputcc">
         </div> 
            
         <div class="form-group">
          <label for="cvv">CVV</label>
          <input type="number" class="form-control" id="inputcvv">
         </div>
        
         <div class="form-group">
          <label for="expdate">Expiry Date</label>
          <input type="date" class="form-control" id="inputdate">
         </div>
         
    </div>    
      <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
      <button type="submit" class="btn btn-primary">Update Plan</button>
      </div>
     </div>