<% provide(:title, "Billing") %>
<h1>Select your plan</h1></a>

  
    <form id="cardForm">
        <div class="form-group">
        
           <div class="radio">
           <label><input type="radio" name="free">Freemium Plan</label>
           </div>
        
           <div class="radio">
           <label><input type="radio" name="grow">Grow Plan</label>
           </div>

           <div class="radio disabled">
           <label><input type="radio" name="hustle" disabled>Hustle Plan</label>
           </div>

        </div>
    
    <br>
    <div id="cardinfo" class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-3 control-label">Card Details</label>
        </div>
    
         <div class="form-group">
          <label for="ccnumber">Credit Card Number</label>
          <input type="text" class="form-control" id="inputcc">
         </div> 
            
         <div class="form-group">
          <label for="cvv">CVV</label>
          <input type="number" class="form-control" id="inputcvv">
         </div>
        
         <div class="form-group">
          <label for="expdate">Expiry Date</label>
          <input type="date" class="form-control" id="inputdate">
         </div>
         
    </div>    
      <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
      <button type="submit" class="btn btn-primary">Update Plan</button>
      </div>
     </div>
    </form>
     <div class="page-header">
         <div class="col-sm-4">
      <h3>Cancel Account</h3>
      </div>
     </div>
    <div class="form-group">
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Cancel Account</button>
        </div>
    </div>
      
    </div>
  </div>

